mat-card {
  margin: 100px auto -80px auto;
  width: 320px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
.card-top-content,
.card-bottom-line {
  display: flex;
  justify-content: center;
}

mat-card-content a {
  display: block;
  margin: 10px 0;
}

.error {
  display: inline-block;
  padding: 16px;
  color: white;
  background-color: red;

  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}
