<mat-toolbar class="navbar" color="primary">
  <div>Reservation Manager</div>
  <div class="links">
    <a
      routerLink="/account/user/reservations"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Upcoming</a
    >
    <a
      routerLink="/account/user/addnew"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Add new</a
    >
    <a routerLink="/login" (click)="logout()">Logout</a>
  </div>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
