<form [formGroup]="reservationForm" (submit)="addReservation()">
  <mat-form-field appearance="fill">
    <mat-label>Chose a procedure</mat-label>
    <mat-select
      formControlName="actionId"
      (selectionChange)="onActionChanged()"
    >
      <mat-option *ngFor="let action of actions" [value]="action.id">{{
        action.name
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="actionId && actionId.hasError('required')">
      You must choose a procedure
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="actionId && actionId.valid">
    <mat-label>Select an employee</mat-label>
    <mat-select
      formControlName="actionEmployeeId"
      (selectionChange)="onEmployeeChanged()"
    >
      <mat-option
        *ngFor="let employee of employees"
        [value]="employee.actionEmployeeId"
        >{{ employee.employeeName }}</mat-option
      >
    </mat-select>
    <mat-error *ngIf="employeeId && employeeId.hasError('required')">
      You must select an employee
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="employeeId && employeeId.valid">
    <input
      matInput
      formControlName="date"
      [min]="minDate"
      [matDatepicker]="picker"
      placeholder="Choose a date"
      [disabled]="true"
    />
    <mat-datepicker-toggle
      #dateToggler
      matSuffix
      [for]="picker"
    ></mat-datepicker-toggle>
    <mat-datepicker
      #picker
      (closed)="onDatePickerClosed()"
      [disabled]="false"
    ></mat-datepicker>
    <mat-hint>Click the calendar icon to choose a date</mat-hint>
    <mat-error *ngIf="date && date.hasError('required')">
      You must choose a date. Try "mm/dd/yyyy"
    </mat-error>
    <mat-error *ngIf="date && date.hasError('busyDay')">
      This day is busy, try another day or employee
    </mat-error>
  </mat-form-field>

  <mat-form-field
    appearance="fill"
    *ngIf="
      employeeId && employeeId.valid && date && date.valid && timeBlocks.length
    "
  >
    <mat-label>Chose the time</mat-label>
    <mat-select formControlName="timeBlockId">
      <mat-option *ngFor="let timeBlock of timeBlocks" [value]="timeBlock.id">{{
        timeBlock.startTime
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="timeBlockId && timeBlockId.hasError('required')">
      You must choose the time
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    class="submit-button"
    *ngIf="timeBlockId && timeBlockId.valid"
  >
    Add reservation
  </button>
</form>
