form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 60px auto;
}

.submit-button {
  width: 30%;
  margin-left: 35%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 13px;
}

mat-spinner {
  margin: auto;
}
