<table mat-table [dataSource]="reservations" class="mat-elevation-z8">
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef>Client Name</th>
    <td mat-cell *matCellDef="let reservation">
      {{ reservation.userName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Procedure</th>
    <td mat-cell *matCellDef="let reservation">
      {{ reservation.actionName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let reservation">
      {{ reservation.date | date: "shortDate" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>Time</th>
    <td mat-cell *matCellDef="let reservation">
      {{ reservation.startTime }}
    </td>
  </ng-container>

  <ng-container matColumnDef="canceled">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let reservation">
      {{ reservation.canceled ? "Canceled" : "Active" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="button">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let reservation">
      <button mat-icon-button (click)="update(reservation)">
        <mat-icon
          >{{
            reservation.canceled ? "add" : "remove"
          }}_circle_outline</mat-icon
        >
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
